/* ------------ all ------------ */

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Myriad Pro", Arial, sans-serif;
  font-size: 13px;
  -webkit-text-size-adjust: none;
}

h1 {
  font-size: 20px;
  font-weight: 300;
  color: #555555;
  vertical-align: middle;
  padding-top: 40px;
  padding-bottom: 10px;

  background-image: url('../images/h1-bullet.png');
  background-position: 0px 49px;
  background-repeat: no-repeat;
  padding-left: 18px;
}

p {
  font-size: 13px;
  line-height: 1.7;
  padding-top: 4px;
  padding-bottom: 4px;
  padding-left: 20px;
  color: #555555;
}

p.about {
  font-size: 14px;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 10px;
  padding-bottom: 10px;
  background: #F0F0F0;
}

pre {
  font-family: "Courier New", Courier, monospace;
  font-size: 13px;
  line-height: 1.5;
  padding-left: 50px;
}

img {
  border-top-style: none;
  border-right-style: none;
  border-bottom-style: none;
  border-left-style: none;
  vertical-align: middle;
}

a:link {
  color: #000000;
  text-decoration: underline;
}

a:visited {
  color: #777777;
  text-decoration: underline;
}

a:hover {
  color: #000000;
  text-decoration: none;
}

hr {
  clear: both;
  float: none;
  width: 100%;
  height: 1px;
  margin-bottom: 1em;
  border: none;
  background: #ddd;
}

li {
  font-size: 13px;
  line-height: 1.7;
  margin-left: 40px;
  padding-top: 4px;
  padding-bottom: 4px;
}

/* ------------ header ------------ */

#header {
  width: 100%;
  padding-top: 70px;
  padding-bottom: 0px;
  font-family: 'Times New Roman', serif;
  font-size: 32pt;
  text-align: center;
  line-height: 1.3;
  color: black;
}

/* ------------ contents ------------ */

#contents {
  width: 620px;
  margin: 0 auto;
  padding-top: 0px;
  padding-bottom: 80px;
  position: relative;
  text-align: justify;
  text-justify: inter-ideograph;
}

/* ------------ footer ------------ */

#footer {
  width: 100%;
  font-family: 'Times New Roman', serif;
  font-size: 12px;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
  color: #DDDDDD;
  background-color: #AAAAAA;
}

/* ------------ end ------------ */

